<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.111.145.131</MSDeployServiceURL>
    <DeployIisAppPath>sevu.evbpc.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Vinder</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=10.0.3.0;Initial Catalog=Vinder;Persist Security Info=True;User ID=Vinder;Password=StackExchangeVotingTinder55!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Stack_Exchange_Voting_Utility.Models.ApplicationDbContext, Stack Exchange Voting Utility" MigrationConfiguration="Stack_Exchange_Voting_Utility.Migrations.Configuration, Stack Exchange Voting Utility" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=10.0.3.0;Initial Catalog=Vinder;Persist Security Info=True;User ID=Vinder;Password=StackExchangeVotingTinder55!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>